.ioChecks {
    height: 80vh;
    max-height: 80vh;
    width: 95vw;
    margin: 10vh 2.5vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    
    button {
        font-family: Arial, Helvetica, sans-serif;
    }
}