name: Publish Service

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string

      registry:
        required: true
        type: string
        default: ghcr.io

      owner_name:
        required: true
        type: string

env:
  # Use docker.io for Docker Hub if empty
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ inputs.service_name }}
  REGISTRY: ${{inputs.registry}}
  NAMESPACE: mpz
  OWNER_NAME: ${{inputs.owner_name}}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{env.REGISTRY}}/${{env.OWNER_NAME}}/${{env.IMAGE_NAME}}
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD'}}
          flavor: |
            latest=auto

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ./3D-Game
          file: .docker/Dockerfile.game-server 
          build-args: ServiceName=${{inputs.service_name}}
          push: ${{ github.event_name != 'pull_request' }}
          load: true
          tags: ${{steps.meta.outputs.tags}}
          labels: ${{steps.meta.outputs.labels}}
          cache-from: type=gha
          cache-to: type=gha,mode=max